.topbutton {
    position: fixed;
    bottom: 3rem;
    right: 3rem;
    background-color: var(--color__theme);
    width: 5rem;
    height: 5rem;
    @include flex-center;
    font-size: 2rem;
    box-shadow: 0 0 10px 0 rgba(0,0,0,0.1);
    transition: all 0.3s;
    border-radius: .5rem;
    opacity: 0;
    visibility: hidden;

    &.btn-show {
        visibility: visible;
        opacity: 1;
    }
}

.btn-theme {
    display: inline-flex;
    border: .1rem solid $color__theme;
    padding: 1rem 2rem;
    font-size: 1.4rem;
    font-weight: 500;
    line-height: normal;
    border-radius: .3rem;
    transition: all .3s;

    &:hover {
        background-color: $color__theme;
        color: $color__white;
    }
}