.section-title {
    margin-bottom: 3rem;
    .title {
        font-size: 3.2rem;
        font-weight: 600;
        margin-bottom: 1rem;
        @include lg-down {
            font-size: 2.6rem;
        }
    }
    .description {
        max-width: 65rem;
        line-height: 1.5;
        font-size: 1.6rem;
    }
}