// Import Google Font
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap');
/* 
	=========================================================
	Please Note::
	=========================================================
	** In this template All sizing will count in "rem".
	** 1rem = 10px

*/
html {
	font-size: 58%;
	-webkit-text-size-adjust: 100%;
	transition: all 0.2s ease;
	font-family: $font__body;
	@include md-up {
		font-size: 60%;
	}
	
	@include lg-up {
		font-size: 62.5%; // 1rem  = 10px
	}
}
body {
	font-size: 1.5rem;
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	background-color: #F5F5F5;
	font-family: $font__body;
	// padding-top: 10rem;
	padding-top: 9rem;
}
p { 
	font-size: 1.6rem;
	line-height: 1.75;
	margin: 0;
}

img {
	max-width: 100%;
	height: auto;
}
ul, ol {
	list-style: none;
	margin: 0;
	padding: 0;

	li {
		font-size: 1.6rem;
	}
}
a {
	color: inherit;
	text-decoration: none;
	font-size: 1.6rem;
	&:hover {
		color: inherit;
		text-decoration: none;
	}
}

@import 'headings';
@import 'utilities';
@import 'helpers';
@import 'section-title';

