header {
    padding: 2rem 0;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    z-index: 999;
    background-color: $color__white;

    .start-block, .end-block {
        ul {
            display: flex;
            align-items: center;
            gap: 2rem;
        }
    }
    .end-block  {
        a {
            i {
                font-size: 2rem;
            }
        }
    }
}